In [ ]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import zipfile
import random

In [ ]:
!wget "https://data.binance.vision/data/spot/daily/trades/BTCUSDT/BTCUSDT-trades-2022-03-01.zip"

--2022-04-09 18:27:05--  https://data.binance.vision/data/spot/daily/trades/BTCUSDT/BTCUSDT-trades-2022-03-01.zip
Resolving data.binance.vision (data.binance.vision)... 13.224.2.128, 13.224.2.48, 13.224.2.55, ...
Connecting to data.binance.vision (data.binance.vision)|13.224.2.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 27964373 (27M) [application/zip]
Saving to: ‘BTCUSDT-trades-2022-03-01.zip’

BTCUSDT-trades-2022 100%[===================>]  26.67M  22.1MB/s    in 1.2s

2022-04-09 18:27:07 (22.1 MB/s) - ‘BTCUSDT-trades-2022-03-01.zip’ saved [27964373/27964373]

In [ ]:
!wget "https://data.binance.vision/data/spot/daily/trades/BTCUSDT/BTCUSDT-trades-2022-03-02.zip"

--2022-04-09 18:27:07--  https://data.binance.vision/data/spot/daily/trades/BTCUSDT/BTCUSDT-trades-2022-03-02.zip
Resolving data.binance.vision (data.binance.vision)... 13.224.2.128, 13.224.2.48, 13.224.2.55, ...
Connecting to data.binance.vision (data.binance.vision)|13.224.2.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24532573 (23M) [application/zip]
Saving to: ‘BTCUSDT-trades-2022-03-02.zip’

BTCUSDT-trades-2022 100%[===================>]  23.40M  19.7MB/s    in 1.2s

2022-04-09 18:27:08 (19.7 MB/s) - ‘BTCUSDT-trades-2022-03-02.zip’ saved [24532573/24532573]

In [ ]:
!wget "https://data.binance.vision/data/spot/daily/trades/BTCUSDT/BTCUSDT-trades-2022-03-03.zip"

--2022-04-09 18:27:08--  https://data.binance.vision/data/spot/daily/trades/BTCUSDT/BTCUSDT-trades-2022-03-03.zip
Resolving data.binance.vision (data.binance.vision)... 13.224.2.128, 13.224.2.48, 13.224.2.55, ...
Connecting to data.binance.vision (data.binance.vision)|13.224.2.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19166497 (18M) [application/zip]
Saving to: ‘BTCUSDT-trades-2022-03-03.zip’

BTCUSDT-trades-2022 100%[===================>]  18.28M  18.0MB/s    in 1.0s

2022-04-09 18:27:10 (18.0 MB/s) - ‘BTCUSDT-trades-2022-03-03.zip’ saved [19166497/19166497]

In [ ]:
data_1 = zipfile.ZipFile("/content/BTCUSDT-trades-2022-03-01.zip", "r")
data_1.extractall()
#data_1.close()

In [ ]:
data_11 = zipfile.ZipFile("/content/BTCUSDT-trades-2022-03-02.zip", "r")
data_11.extractall()

In [ ]:
data_111 = zipfile.ZipFile("/content/BTCUSDT-trades-2022-03-03.zip", "r")
data_111.extractall()

In [ ]:
data_1_fin = pd.read_csv('/content/BTCUSDT-trades-2022-03-01.csv')
print(data_1_fin)

         1274557543  43160.00000000  0.00056000  24.16960000  1646092800000  \
0        1274557544        43160.01     0.00052    22.443205  1646092800003
1        1274557545        43160.01     0.00182    78.551218  1646092800004
2        1274557546        43160.01     0.00631   272.339663  1646092800005
3        1274557547        43160.00     0.00229    98.836400  1646092800006
4        1274557548        43160.00     0.00739   318.952400  1646092800007
...             ...             ...         ...          ...            ...
1866865  1276424409        44421.20     0.00120    53.305440  1646179199997
1866866  1276424410        44423.47     0.00057    25.321378  1646179199997
1866867  1276424411        44421.20     0.00029    12.882148  1646179199998
1866868  1276424412        44423.47     0.00037    16.436684  1646179199998
1866869  1276424413        44421.20     0.00125    55.526500  1646179199999

          True  True.1
0        False    True
1        False    True
2        False    True
3         True    True
4         True    True
...        ...     ...
1866865   True    True
1866866  False    True
1866867   True    True
1866868  False    True
1866869   True    True

[1866870 rows x 7 columns]

In [ ]:
data_11_fin = pd.read_csv('/content/BTCUSDT-trades-2022-03-02.csv')
print(data_11_fin)

         1276424414  44421.20000000  0.00097000  43.08856400  1646179200000  \
0        1276424415        44423.46     0.00154    68.412128  1646179200002
1        1276424416        44423.46     0.00039    17.325149  1646179200003
2        1276424417        44421.20     0.00328   145.701536  1646179200003
3        1276424418        44423.46     0.00075    33.317595  1646179200005
4        1276424419        44423.46     0.00276   122.608750  1646179200007
...             ...             ...         ...          ...            ...
1653125  1278077540        43892.98     0.00040    17.557192  1646265599998
1653126  1278077541        43892.98     0.00159    69.789838  1646265599999
1653127  1278077542        43892.99     0.00064    28.091514  1646265599999
1653128  1278077543        43892.98     0.00054    23.702209  1646265599999
1653129  1278077544        43892.98     0.00061    26.774718  1646265599999

          True  True.1
0        False    True
1        False    True
2         True    True
3        False    True
4        False    True
...        ...     ...
1653125   True    True
1653126   True    True
1653127  False    True
1653128   True    True
1653129   True    True

[1653130 rows x 7 columns]

In [ ]:
data_111_fin = pd.read_csv('/content/BTCUSDT-trades-2022-03-03.csv')
print(data_111_fin)

         1278077545  43892.99000000  0.00158000  69.35092420  1646265600000  \
0        1278077546        43892.99     0.00066    28.969373  1646265600000
1        1278077547        43892.98     0.00136    59.694453  1646265600000
2        1278077548        43892.99     0.00045    19.751846  1646265600000
3        1278077549        43892.98     0.00048    21.068630  1646265600001
4        1278077550        43892.99     0.00029    12.728967  1646265600001
...             ...             ...         ...          ...            ...
1289314  1279366860        42454.01     0.00124    52.642972  1646351999996
1289315  1279366861        42454.00     0.00257   109.106780  1646351999996
1289316  1279366862        42454.01     0.00054    22.925165  1646351999997
1289317  1279366863        42454.01     0.00198    84.058940  1646351999997
1289318  1279366864        42454.00     0.00052    22.076080  1646351999999

         False  True
0        False  True
1         True  True
2        False  True
3         True  True
4        False  True
...        ...   ...
1289314  False  True
1289315   True  True
1289316  False  True
1289317  False  True
1289318   True  True

[1289319 rows x 7 columns]

In [ ]:
data_1_fin.columns = ['id','price','qty','ask','time','isBuyermaker','isBestMatch']
print(data_1_fin)

                 id     price      qty         ask           time  \
0        1274557544  43160.01  0.00052   22.443205  1646092800003
1        1274557545  43160.01  0.00182   78.551218  1646092800004
2        1274557546  43160.01  0.00631  272.339663  1646092800005
3        1274557547  43160.00  0.00229   98.836400  1646092800006
4        1274557548  43160.00  0.00739  318.952400  1646092800007
...             ...       ...      ...         ...            ...
1866865  1276424409  44421.20  0.00120   53.305440  1646179199997
1866866  1276424410  44423.47  0.00057   25.321378  1646179199997
1866867  1276424411  44421.20  0.00029   12.882148  1646179199998
1866868  1276424412  44423.47  0.00037   16.436684  1646179199998
1866869  1276424413  44421.20  0.00125   55.526500  1646179199999

         isBuyermaker  isBestMatch
0               False         True
1               False         True
2               False         True
3                True         True
4                True         True
...               ...          ...
1866865          True         True
1866866         False         True
1866867          True         True
1866868         False         True
1866869          True         True

[1866870 rows x 7 columns]

In [ ]:
data_11_fin.columns = ['id','price','qty','ask','time','isBuyermaker','isBestMatch']
print(data_11_fin)

                 id     price      qty         ask           time  \
0        1276424415  44423.46  0.00154   68.412128  1646179200002
1        1276424416  44423.46  0.00039   17.325149  1646179200003
2        1276424417  44421.20  0.00328  145.701536  1646179200003
3        1276424418  44423.46  0.00075   33.317595  1646179200005
4        1276424419  44423.46  0.00276  122.608750  1646179200007
...             ...       ...      ...         ...            ...
1653125  1278077540  43892.98  0.00040   17.557192  1646265599998
1653126  1278077541  43892.98  0.00159   69.789838  1646265599999
1653127  1278077542  43892.99  0.00064   28.091514  1646265599999
1653128  1278077543  43892.98  0.00054   23.702209  1646265599999
1653129  1278077544  43892.98  0.00061   26.774718  1646265599999

         isBuyermaker  isBestMatch
0               False         True
1               False         True
2                True         True
3               False         True
4               False         True
...               ...          ...
1653125          True         True
1653126          True         True
1653127         False         True
1653128          True         True
1653129          True         True

[1653130 rows x 7 columns]

In [ ]:
data_111_fin.columns = ['id','price','qty','ask','time','isBuyermaker','isBestMatch']
print(data_111_fin)

                 id     price      qty         ask           time  \
0        1278077546  43892.99  0.00066   28.969373  1646265600000
1        1278077547  43892.98  0.00136   59.694453  1646265600000
2        1278077548  43892.99  0.00045   19.751846  1646265600000
3        1278077549  43892.98  0.00048   21.068630  1646265600001
4        1278077550  43892.99  0.00029   12.728967  1646265600001
...             ...       ...      ...         ...            ...
1289314  1279366860  42454.01  0.00124   52.642972  1646351999996
1289315  1279366861  42454.00  0.00257  109.106780  1646351999996
1289316  1279366862  42454.01  0.00054   22.925165  1646351999997
1289317  1279366863  42454.01  0.00198   84.058940  1646351999997
1289318  1279366864  42454.00  0.00052   22.076080  1646351999999

         isBuyermaker  isBestMatch
0               False         True
1                True         True
2               False         True
3                True         True
4               False         True
...               ...          ...
1289314         False         True
1289315          True         True
1289316         False         True
1289317         False         True
1289318          True         True

[1289319 rows x 7 columns]

In [ ]:
data_1_btcusdt_fin = pd.concat([data_1_fin,data_11_fin,data_111_fin],axis=0)
print(data_1_btcusdt_fin)

                 id     price      qty         ask           time  \
0        1274557544  43160.01  0.00052   22.443205  1646092800003
1        1274557545  43160.01  0.00182   78.551218  1646092800004
2        1274557546  43160.01  0.00631  272.339663  1646092800005
3        1274557547  43160.00  0.00229   98.836400  1646092800006
4        1274557548  43160.00  0.00739  318.952400  1646092800007
...             ...       ...      ...         ...            ...
1289314  1279366860  42454.01  0.00124   52.642972  1646351999996
1289315  1279366861  42454.00  0.00257  109.106780  1646351999996
1289316  1279366862  42454.01  0.00054   22.925165  1646351999997
1289317  1279366863  42454.01  0.00198   84.058940  1646351999997
1289318  1279366864  42454.00  0.00052   22.076080  1646351999999

         isBuyermaker  isBestMatch
0               False         True
1               False         True
2               False         True
3                True         True
4                True         True
...               ...          ...
1289314         False         True
1289315          True         True
1289316         False         True
1289317         False         True
1289318          True         True

[4809319 rows x 7 columns]

In [ ]:
bid_size = 1000
offer_size = 1000
buy_margin = 3
sell_margin = 3
max_pos_hed = 5000

In [ ]:
print(data_1_btcusdt_fin)

                 id     price      qty         ask           time  \
0        1274557544  43160.01  0.00052   22.443205  1646092800003
1        1274557545  43160.01  0.00182   78.551218  1646092800004
2        1274557546  43160.01  0.00631  272.339663  1646092800005
3        1274557547  43160.00  0.00229   98.836400  1646092800006
4        1274557548  43160.00  0.00739  318.952400  1646092800007
...             ...       ...      ...         ...            ...
1289314  1279366860  42454.01  0.00124   52.642972  1646351999996
1289315  1279366861  42454.00  0.00257  109.106780  1646351999996
1289316  1279366862  42454.01  0.00054   22.925165  1646351999997
1289317  1279366863  42454.01  0.00198   84.058940  1646351999997
1289318  1279366864  42454.00  0.00052   22.076080  1646351999999

         isBuyermaker  isBestMatch
0               False         True
1               False         True
2               False         True
3                True         True
4                True         True
...               ...          ...
1289314         False         True
1289315          True         True
1289316         False         True
1289317         False         True
1289318          True         True

[4809319 rows x 7 columns]

In [ ]:
print(data_1_btcusdt_fin['isBestMatch'].value_counts())

True    4809319
Name: isBestMatch, dtype: int64

In [ ]:
data_1_btcusdt_fin.rename(columns = {'ask':'quote_qty'},inplace = True)
print(data_1_btcusdt_fin)

                 id     price      qty   quote_qty           time  \
0        1274557544  43160.01  0.00052   22.443205  1646092800003
1        1274557545  43160.01  0.00182   78.551218  1646092800004
2        1274557546  43160.01  0.00631  272.339663  1646092800005
3        1274557547  43160.00  0.00229   98.836400  1646092800006
4        1274557548  43160.00  0.00739  318.952400  1646092800007
...             ...       ...      ...         ...            ...
1289314  1279366860  42454.01  0.00124   52.642972  1646351999996
1289315  1279366861  42454.00  0.00257  109.106780  1646351999996
1289316  1279366862  42454.01  0.00054   22.925165  1646351999997
1289317  1279366863  42454.01  0.00198   84.058940  1646351999997
1289318  1279366864  42454.00  0.00052   22.076080  1646351999999

         isBuyermaker  isBestMatch
0               False         True
1               False         True
2               False         True
3                True         True
4                True         True
...               ...          ...
1289314         False         True
1289315          True         True
1289316         False         True
1289317         False         True
1289318          True         True

[4809319 rows x 7 columns]

In [ ]:
sell_data = data_1_btcusdt_fin.loc[data_1_btcusdt_fin['isBuyermaker']==True]
print(sell_data)

                 id    price      qty  quote_qty           time  isBuyermaker  \
3        1274557547  43160.0  0.00229   98.83640  1646092800006          True
4        1274557548  43160.0  0.00739  318.95240  1646092800007          True
5        1274557549  43160.0  0.00173   74.66680  1646092800007          True
6        1274557550  43160.0  0.00126   54.38160  1646092800007          True
9        1274557553  43160.0  0.00030   12.94800  1646092800019          True
...             ...      ...      ...        ...            ...           ...
1289310  1279366856  42454.0  0.00225   95.52150  1646351999992          True
1289311  1279366857  42454.0  0.00157   66.65278  1646351999994          True
1289312  1279366858  42454.0  0.00145   61.55830  1646351999994          True
1289315  1279366861  42454.0  0.00257  109.10678  1646351999996          True
1289318  1279366864  42454.0  0.00052   22.07608  1646351999999          True

         isBestMatch
3               True
4               True
5               True
6               True
9               True
...              ...
1289310         True
1289311         True
1289312         True
1289315         True
1289318         True

[2349437 rows x 7 columns]

In [ ]:
sell_data = sell_data.reset_index(drop=True)
print(sell_data)

                 id    price      qty  quote_qty           time  isBuyermaker  \
0        1274557547  43160.0  0.00229   98.83640  1646092800006          True
1        1274557548  43160.0  0.00739  318.95240  1646092800007          True
2        1274557549  43160.0  0.00173   74.66680  1646092800007          True
3        1274557550  43160.0  0.00126   54.38160  1646092800007          True
4        1274557553  43160.0  0.00030   12.94800  1646092800019          True
...             ...      ...      ...        ...            ...           ...
2349432  1279366856  42454.0  0.00225   95.52150  1646351999992          True
2349433  1279366857  42454.0  0.00157   66.65278  1646351999994          True
2349434  1279366858  42454.0  0.00145   61.55830  1646351999994          True
2349435  1279366861  42454.0  0.00257  109.10678  1646351999996          True
2349436  1279366864  42454.0  0.00052   22.07608  1646351999999          True

         isBestMatch
0               True
1               True
2               True
3               True
4               True
...              ...
2349432         True
2349433         True
2349434         True
2349435         True
2349436         True

[2349437 rows x 7 columns]

In [ ]:
buy_data = buy_data.reset_index(drop=True)
print(buy_data)

                 id     price      qty    quote_qty           time  \
0        1274557544  43160.01  0.00052    22.443205  1646092800003
1        1274557545  43160.01  0.00182    78.551218  1646092800004
2        1274557546  43160.01  0.00631   272.339663  1646092800005
3        1274557551  43160.01  0.02358  1017.713036  1646092800010
4        1274557552  43160.01  0.02329  1005.196633  1646092800010
...             ...       ...      ...          ...            ...
2349432  1279138718  42264.17  0.00026    10.988684  1646332810953
2349433  1279138719  42264.17  0.01892   799.638096  1646332810953
2349434  1279138720  42264.17  0.00737   311.486933  1646332810953
2349435  1279138721  42264.17  0.00033    13.947176  1646332810953
2349436  1279138722  42264.17  0.00001     0.422642  1646332810964

         isBuyermaker  isBestMatch
0               False         True
1               False         True
2               False         True
3               False         True
4               False         True
...               ...          ...
2349432         False         True
2349433         False         True
2349434         False         True
2349435         False         True
2349436         False         True

[2349437 rows x 7 columns]

In [ ]:
buy_data = data_1_btcusdt_fin.loc[data_1_btcusdt_fin['isBuyermaker']==False]
print(buy_data)
buy_data = buy_data.iloc[0:2349437]
print(buy_data)

                 id     price      qty    quote_qty           time  \
0        1274557544  43160.01  0.00052    22.443205  1646092800003
1        1274557545  43160.01  0.00182    78.551218  1646092800004
2        1274557546  43160.01  0.00631   272.339663  1646092800005
7        1274557551  43160.01  0.02358  1017.713036  1646092800010
8        1274557552  43160.01  0.02329  1005.196633  1646092800010
...             ...       ...      ...          ...            ...
1289308  1279366854  42454.01  0.00284   120.569388  1646351999870
1289313  1279366859  42454.01  0.00772   327.744957  1646351999995
1289314  1279366860  42454.01  0.00124    52.642972  1646351999996
1289316  1279366862  42454.01  0.00054    22.925165  1646351999997
1289317  1279366863  42454.01  0.00198    84.058940  1646351999997

         isBuyermaker  isBestMatch
0               False         True
1               False         True
2               False         True
7               False         True
8               False         True
...               ...          ...
1289308         False         True
1289313         False         True
1289314         False         True
1289316         False         True
1289317         False         True

[2459882 rows x 7 columns]
                 id     price      qty    quote_qty           time  \
0        1274557544  43160.01  0.00052    22.443205  1646092800003
1        1274557545  43160.01  0.00182    78.551218  1646092800004
2        1274557546  43160.01  0.00631   272.339663  1646092800005
7        1274557551  43160.01  0.02358  1017.713036  1646092800010
8        1274557552  43160.01  0.02329  1005.196633  1646092800010
...             ...       ...      ...          ...            ...
1061172  1279138718  42264.17  0.00026    10.988684  1646332810953
1061173  1279138719  42264.17  0.01892   799.638096  1646332810953
1061174  1279138720  42264.17  0.00737   311.486933  1646332810953
1061175  1279138721  42264.17  0.00033    13.947176  1646332810953
1061176  1279138722  42264.17  0.00001     0.422642  1646332810964

         isBuyermaker  isBestMatch
0               False         True
1               False         True
2               False         True
7               False         True
8               False         True
...               ...          ...
1061172         False         True
1061173         False         True
1061174         False         True
1061175         False         True
1061176         False         True

[2349437 rows x 7 columns]

In [ ]:
low_ask_price = np.min(sell_data['price'])
print(low_ask_price)

41832.28

In [ ]:
high_bid_price = np.max(buy_data['price'])
print(high_bid_price)

45400.0

In [ ]:
actual_bid_size = high_bid_price-low_ask_price
print(actual_bid_size)

3567.720000000001

In [ ]:
def_bid_size = bid_size
print(def_bid_size)

1000

In [ ]:
buy_data['tot_val_base_asset'] = buy_data['price']*buy_data['qty']
buy_data['tot_val_quote_asset'] = buy_data['price']*buy_data['quote_qty']
print(buy_data['tot_val_base_asset'])
print(buy_data['tot_val_quote_asset'])

0            22.443205
1            78.551218
2           272.339663
3          1017.713036
4          1005.196633
              ...
2349432      10.988684
2349433     799.638096
2349434     311.486933
2349435      13.947176
2349436       0.422642
Name: tot_val_base_asset, Length: 2349437, dtype: float64
0          9.686490e+05
1          3.390271e+06
2          1.175418e+07
3          4.392450e+07
4          4.338430e+07
               ...
2349432    4.644276e+05
2349433    3.379604e+07
2349434    1.316474e+07
2349435    5.894658e+05
2349436    1.786260e+04
Name: tot_val_quote_asset, Length: 2349437, dtype: float64

In [ ]:
best_buying_price = np.max(buy_data['price'])+def_bid_size
print(best_buying_price)

46400.0

In [ ]:
best_selling_price = np.min(sell_data['price'])+offer_size
print(best_buying_price)

46400.0

In [ ]:
buy_data['new_buying_price'] = np.random.uniform(high_bid_price,best_buying_price,2349437)
print(buy_data['new_buying_price'])

0          46166.710293
1          45512.936642
2          46323.522082
3          45656.766494
4          45848.574647
               ...
2349432    46294.358823
2349433    46259.419293
2349434    46082.126117
2349435    45775.737182
2349436    46247.037055
Name: new_buying_price, Length: 2349437, dtype: float64

In [ ]:
sell_data['new_selling_price'] = np.random.uniform(low_ask_price,best_selling_price,2349437)
print(sell_data['new_selling_price'])

0          42718.827669
1          42701.633514
2          42230.743797
3          42424.318449
4          42046.587926
               ...
2349432    42781.864765
2349433    41891.740697
2349434    42376.274540
2349435    42759.434838
2349436    42743.299953
Name: new_selling_price, Length: 2349437, dtype: float64

In [ ]:
trade_results = pd.DataFrame(columns = ['Trade_match','buy_val','sell_val','prev_buy_val','prev_sell_val','profit','loss','position_hedged'])
print(trade_results)

Empty DataFrame
Columns: [Trade_match, buy_val, sell_val, prev_buy_val, prev_sell_val, profit, loss, position_hedged]
Index: []

In [ ]:
buy_val = buy_data['new_buying_price']
sell_val = sell_data['new_selling_price']
prev_buy_val = buy_data['price']
prev_sell_val = sell_data['price']

In [ ]:
trade_results['buy_val'] = buy_val
trade_results['sell_val'] = sell_val
trade_results['prev_buy_val'] = prev_buy_val
trade_results['prev_sell_val'] = prev_sell_val

In [ ]:
print(trade_results)

        Trade_match       buy_val      sell_val  prev_buy_val  prev_sell_val  \
0               NaN  46166.710293  42718.827669      43160.01        43160.0
1               NaN  45512.936642  42701.633514      43160.01        43160.0
2               NaN  46323.522082  42230.743797      43160.01        43160.0
3               NaN  45656.766494  42424.318449      43160.01        43160.0
4               NaN  45848.574647  42046.587926      43160.01        43160.0
...             ...           ...           ...           ...            ...
2349432         NaN  46294.358823  42781.864765      42264.17        42454.0
2349433         NaN  46259.419293  41891.740697      42264.17        42454.0
2349434         NaN  46082.126117  42376.274540      42264.17        42454.0
2349435         NaN  45775.737182  42759.434838      42264.17        42454.0
2349436         NaN  46247.037055  42743.299953      42264.17        42454.0

        profit loss position_hedged
0          NaN  NaN             NaN
1          NaN  NaN             NaN
2          NaN  NaN             NaN
3          NaN  NaN             NaN
4          NaN  NaN             NaN
...        ...  ...             ...
2349432    NaN  NaN             NaN
2349433    NaN  NaN             NaN
2349434    NaN  NaN             NaN
2349435    NaN  NaN             NaN
2349436    NaN  NaN             NaN

[2349437 rows x 8 columns]

In [ ]:
trade_results['Trade_match'] = np.where((trade_results['buy_val']>trade_results['prev_sell_val']) | (trade_results['sell_val']>trade_results['prev_buy_val']),True,False)
print(trade_results['Trade_match'].value_counts())

True    2349437
Name: Trade_match, dtype: int64

In [ ]:
trade_results['difference_buy'] = difference_1
trade_results['difference_sell'] = difference_2

In [ ]:
print(trade_results)

         Trade_match       buy_val      sell_val  prev_buy_val  prev_sell_val  \
0               True  46166.710293  42718.827669      43160.01        43160.0
1               True  45512.936642  42701.633514      43160.01        43160.0
2               True  46323.522082  42230.743797      43160.01        43160.0
3               True  45656.766494  42424.318449      43160.01        43160.0
4               True  45848.574647  42046.587926      43160.01        43160.0
...              ...           ...           ...           ...            ...
2349432         True  46294.358823  42781.864765      42264.17        42454.0
2349433         True  46259.419293  41891.740697      42264.17        42454.0
2349434         True  46082.126117  42376.274540      42264.17        42454.0
2349435         True  45775.737182  42759.434838      42264.17        42454.0
2349436         True  46247.037055  42743.299953      42264.17        42454.0

        profit loss position_hedged     gross_val  difference_buy  \
0          NaN  NaN             NaN  2.387534e+04     3006.710293
1          NaN  NaN             NaN  3.862576e+04     2352.936642
2          NaN  NaN             NaN  7.921672e+05     3163.522082
3          NaN  NaN             NaN  2.500984e+06     2496.766494
4          NaN  NaN             NaN  2.688130e+06     2688.574647
...        ...  ...             ...           ...             ...
2349432    NaN  NaN             NaN  9.165147e+04     3840.358823
2349433    NaN  NaN             NaN  3.018135e+06     3805.419293
2349434    NaN  NaN             NaN  1.137015e+06     3628.126117
2349435    NaN  NaN             NaN  1.003656e+05     3321.737182
2349436    NaN  NaN             NaN  1.218041e+04     3793.037055

         difference_sell
0            -441.182331
1            -458.376486
2            -929.266203
3            -735.691551
4           -1113.422074
...                  ...
2349432       517.694765
2349433      -372.429303
2349434       112.104540
2349435       495.264838
2349436       479.129953

[2349437 rows x 11 columns]

In [ ]:
difference_1 = trade_results['buy_val'] - trade_results['prev_sell_val']
print(difference_1)

0          3006.710293
1          2352.936642
2          3163.522082
3          2496.766494
4          2688.574647
              ...
2349432    3840.358823
2349433    3805.419293
2349434    3628.126117
2349435    3321.737182
2349436    3793.037055
Length: 2349437, dtype: float64

In [ ]:
difference_2 = trade_results['sell_val'] - trade_results['prev_buy_val']
print(difference_2)

0          -441.182331
1          -458.376486
2          -929.266203
3          -735.691551
4         -1113.422074
              ...
2349432     517.694765
2349433    -372.429303
2349434     112.104540
2349435     495.264838
2349436     479.129953
Length: 2349437, dtype: float64

In [ ]:
gross_p_n_l = difference_1*(buy_data['quote_qty'])+difference_2*(sell_data['quote_qty'])
print(gross_p_n_l)

0          2.387534e+04
1          3.862576e+04
2          7.921672e+05
3          2.500984e+06
4          2.688130e+06
               ...
2349432    9.165147e+04
2349433    3.018135e+06
2349434    1.137015e+06
2349435    1.003656e+05
2349436    1.218041e+04
Length: 2349437, dtype: float64

In [ ]:
trade_results['gross_val'] = gross_p_n_l
print(trade_results['gross_val'])

0          2.387534e+04
1          3.862576e+04
2          7.921672e+05
3          2.500984e+06
4          2.688130e+06
               ...
2349432    9.165147e+04
2349433    3.018135e+06
2349434    1.137015e+06
2349435    1.003656e+05
2349436    1.218041e+04
Name: gross_val, Length: 2349437, dtype: float64

In [ ]:
print(trade_results)

         Trade_match       buy_val      sell_val  prev_buy_val  prev_sell_val  \
0               True  46166.710293  42718.827669      43160.01        43160.0
1               True  45512.936642  42701.633514      43160.01        43160.0
2               True  46323.522082  42230.743797      43160.01        43160.0
3               True  45656.766494  42424.318449      43160.01        43160.0
4               True  45848.574647  42046.587926      43160.01        43160.0
...              ...           ...           ...           ...            ...
2349432         True  46294.358823  42781.864765      42264.17        42454.0
2349433         True  46259.419293  41891.740697      42264.17        42454.0
2349434         True  46082.126117  42376.274540      42264.17        42454.0
2349435         True  45775.737182  42759.434838      42264.17        42454.0
2349436         True  46247.037055  42743.299953      42264.17        42454.0

        profit loss position_hedged     gross_val  difference_buy  \
0          NaN  NaN             NaN  2.387534e+04     3006.710293
1          NaN  NaN             NaN  3.862576e+04     2352.936642
2          NaN  NaN             NaN  7.921672e+05     3163.522082
3          NaN  NaN             NaN  2.500984e+06     2496.766494
4          NaN  NaN             NaN  2.688130e+06     2688.574647
...        ...  ...             ...           ...             ...
2349432    NaN  NaN             NaN  9.165147e+04     3840.358823
2349433    NaN  NaN             NaN  3.018135e+06     3805.419293
2349434    NaN  NaN             NaN  1.137015e+06     3628.126117
2349435    NaN  NaN             NaN  1.003656e+05     3321.737182
2349436    NaN  NaN             NaN  1.218041e+04     3793.037055

         difference_sell
0            -441.182331
1            -458.376486
2            -929.266203
3            -735.691551
4           -1113.422074
...                  ...
2349432       517.694765
2349433      -372.429303
2349434       112.104540
2349435       495.264838
2349436       479.129953

[2349437 rows x 11 columns]

In [ ]:
trade_results['loss'] = np.where((trade_results['difference_buy']<0) | (trade_results['difference_sell']<0),True,False)
print(trade_results['loss'].value_counts())

True     2301991
False      47446
Name: loss, dtype: int64

In [ ]:
trade_results['profit'] = trade_results['profit'].loc[trade_results['loss']==False]
print(trade_results['profit'].value_counts())

True    47446
Name: profit, dtype: int64

In [ ]:
trade_results['profit'] = trade_results['profit'].replace(np.nan,False)
print(trade_results['profit'])

0          False
1          False
2          False
3          False
4          False
           ...
2349432     True
2349433    False
2349434     True
2349435     True
2349436     True
Name: profit, Length: 2349437, dtype: bool

In [ ]:
print(trade_results['loss'])

0           True
1           True
2           True
3           True
4           True
           ...
2349432    False
2349433     True
2349434    False
2349435    False
2349436    False
Name: loss, Length: 2349437, dtype: bool

In [ ]:
print(trade_results)

         Trade_match       buy_val      sell_val  prev_buy_val  prev_sell_val  \
0               True  46166.710293  42718.827669      43160.01        43160.0
1               True  45512.936642  42701.633514      43160.01        43160.0
2               True  46323.522082  42230.743797      43160.01        43160.0
3               True  45656.766494  42424.318449      43160.01        43160.0
4               True  45848.574647  42046.587926      43160.01        43160.0
...              ...           ...           ...           ...            ...
2349432         True  46294.358823  42781.864765      42264.17        42454.0
2349433         True  46259.419293  41891.740697      42264.17        42454.0
2349434         True  46082.126117  42376.274540      42264.17        42454.0
2349435         True  45775.737182  42759.434838      42264.17        42454.0
2349436         True  46247.037055  42743.299953      42264.17        42454.0

         profit   loss position_hedged     gross_val  difference_buy  \
0         False   True             NaN  2.387534e+04     3006.710293
1         False   True             NaN  3.862576e+04     2352.936642
2         False   True             NaN  7.921672e+05     3163.522082
3         False   True             NaN  2.500984e+06     2496.766494
4         False   True             NaN  2.688130e+06     2688.574647
...         ...    ...             ...           ...             ...
2349432    True  False             NaN  9.165147e+04     3840.358823
2349433   False   True             NaN  3.018135e+06     3805.419293
2349434    True  False             NaN  1.137015e+06     3628.126117
2349435    True  False             NaN  1.003656e+05     3321.737182
2349436    True  False             NaN  1.218041e+04     3793.037055

         difference_sell
0            -441.182331
1            -458.376486
2            -929.266203
3            -735.691551
4           -1113.422074
...                  ...
2349432       517.694765
2349433      -372.429303
2349434       112.104540
2349435       495.264838
2349436       479.129953

[2349437 rows x 11 columns]

In [ ]:
trade_results['position_hedged'] = np.where((trade_results['difference_buy']>5000) | (trade_results['difference_sell']>5000),True,False)
print(trade_results['position_hedged'])

0          False
1          False
2          False
3          False
4          False
           ...
2349432    False
2349433    False
2349434    False
2349435    False
2349436    False
Name: position_hedged, Length: 2349437, dtype: bool

In [ ]:
print(trade_results)

         Trade_match       buy_val      sell_val  prev_buy_val  prev_sell_val  \
0               True  46166.710293  42718.827669      43160.01        43160.0
1               True  45512.936642  42701.633514      43160.01        43160.0
2               True  46323.522082  42230.743797      43160.01        43160.0
3               True  45656.766494  42424.318449      43160.01        43160.0
4               True  45848.574647  42046.587926      43160.01        43160.0
...              ...           ...           ...           ...            ...
2349432         True  46294.358823  42781.864765      42264.17        42454.0
2349433         True  46259.419293  41891.740697      42264.17        42454.0
2349434         True  46082.126117  42376.274540      42264.17        42454.0
2349435         True  45775.737182  42759.434838      42264.17        42454.0
2349436         True  46247.037055  42743.299953      42264.17        42454.0

         profit   loss  position_hedged     gross_val  difference_buy  \
0         False   True            False  2.387534e+04     3006.710293
1         False   True            False  3.862576e+04     2352.936642
2         False   True            False  7.921672e+05     3163.522082
3         False   True            False  2.500984e+06     2496.766494
4         False   True            False  2.688130e+06     2688.574647
...         ...    ...              ...           ...             ...
2349432    True  False            False  9.165147e+04     3840.358823
2349433   False   True            False  3.018135e+06     3805.419293
2349434    True  False            False  1.137015e+06     3628.126117
2349435    True  False            False  1.003656e+05     3321.737182
2349436    True  False            False  1.218041e+04     3793.037055

         difference_sell
0            -441.182331
1            -458.376486
2            -929.266203
3            -735.691551
4           -1113.422074
...                  ...
2349432       517.694765
2349433      -372.429303
2349434       112.104540
2349435       495.264838
2349436       479.129953

[2349437 rows x 11 columns]

In [ ]:
win_val = trade_results['gross_val'].loc[trade_results['profit']==True]
print(win_val)

2214696    2.126720e+05
2214736    8.402967e+05
2214739    1.043117e+07
2214748    1.566738e+06
2214749    5.365981e+05
               ...
2349430    1.609939e+07
2349432    9.165147e+04
2349434    1.137015e+06
2349435    1.003656e+05
2349436    1.218041e+04
Name: gross_val, Length: 47446, dtype: float64

In [ ]:
loss_val = trade_results['gross_val'].loc[trade_results['loss']==True]
print(loss_val)

0          2.387534e+04
1          3.862576e+04
2          7.921672e+05
3          2.500984e+06
4          2.688130e+06
               ...
2349426   -9.190791e+05
2349427    5.967566e+06
2349428    1.526811e+05
2349431    6.109699e+05
2349433    3.018135e+06
Name: gross_val, Length: 2301991, dtype: float64

In [ ]:
gross_basis_p_n_l = np.mean(gross_p_n_l/10000)
print("Gross basis p_n_l:",gross_basis_p_n_l)

Gross basis p_n_l: 95.70526520660887

In [ ]:
number_of_trades = len(trade_results['Trade_match'])
print("Number of trades:",number_of_trades)

Number of trades: 2349437

In [ ]:
average_win_p_n_l = np.mean(win_val/10000)
print("Average win p_n_l:",average_win_p_n_l)

Average win p_n_l: 645.7501436855964

In [ ]:
average_loss_p_n_l = np.mean(loss_val/10000)
print("Average loss p_n_l:",average_loss_p_n_l)

Average loss p_n_l: 84.36837062087353