In [1]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import zipfile

In [3]:
!wget "https://data.binance.vision/data/spot/daily/klines/BTCUSDT/1d/BTCUSDT-1d-2022-03-01.zip"

--2022-04-07 18:28:16--  https://data.binance.vision/data/spot/daily/klines/BTCUSDT/1d/BTCUSDT-1d-2022-03-01.zip
Resolving data.binance.vision (data.binance.vision)... 108.156.83.109, 108.156.83.117, 108.156.83.9, ...
Connecting to data.binance.vision (data.binance.vision)|108.156.83.109|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 240 [application/zip]
Saving to: ‘BTCUSDT-1d-2022-03-01.zip’

BTCUSDT-1d-2022-03- 100%[===================>]     240  --.-KB/s    in 0s

2022-04-07 18:28:16 (25.0 MB/s) - ‘BTCUSDT-1d-2022-03-01.zip’ saved [240/240]

In [4]:
!wget "https://data.binance.vision/data/spot/daily/klines/BTCUSDT/1d/BTCUSDT-1d-2022-03-02.zip"

--2022-04-07 18:28:16--  https://data.binance.vision/data/spot/daily/klines/BTCUSDT/1d/BTCUSDT-1d-2022-03-02.zip
Resolving data.binance.vision (data.binance.vision)... 108.156.83.109, 108.156.83.117, 108.156.83.9, ...
Connecting to data.binance.vision (data.binance.vision)|108.156.83.109|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 239 [application/zip]
Saving to: ‘BTCUSDT-1d-2022-03-02.zip’

BTCUSDT-1d-2022-03- 100%[===================>]     239  --.-KB/s    in 0s

2022-04-07 18:28:17 (37.0 MB/s) - ‘BTCUSDT-1d-2022-03-02.zip’ saved [239/239]

In [5]:
!wget "https://data.binance.vision/data/spot/daily/klines/BTCUSDT/1d/BTCUSDT-1d-2022-03-03.zip"

--2022-04-07 18:28:29--  https://data.binance.vision/data/spot/daily/klines/BTCUSDT/1d/BTCUSDT-1d-2022-03-03.zip
Resolving data.binance.vision (data.binance.vision)... 108.156.83.117, 108.156.83.109, 108.156.83.9, ...
Connecting to data.binance.vision (data.binance.vision)|108.156.83.117|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 240 [application/zip]
Saving to: ‘BTCUSDT-1d-2022-03-03.zip’

BTCUSDT-1d-2022-03- 100%[===================>]     240  --.-KB/s    in 0s

2022-04-07 18:28:30 (6.81 MB/s) - ‘BTCUSDT-1d-2022-03-03.zip’ saved [240/240]

In [7]:
data_1 = zipfile.ZipFile("/content/BTCUSDT-1d-2022-03-01.zip", "r")
data_1.extractall()

In [8]:
data_11 = zipfile.ZipFile("/content/BTCUSDT-1d-2022-03-02.zip", "r")
data_11.extractall()

In [9]:
data_111 = zipfile.ZipFile("/content/BTCUSDT-1d-2022-03-03.zip", "r")
data_111.extractall()

In [10]:
data_1_fin = pd.read_csv('/content/BTCUSDT-1d-2022-03-01.csv')
print(data_1_fin)

Empty DataFrame
Columns: [1646092800000, 43160.00000000, 44949.00000000, 42809.98000000, 44421.20000000, 61743.09873000, 1646179199999, 2701611023.69431990, 1866871, 30937.54085000, 1353520463.00847440, 0]
Index: []

In [11]:
data_11_fin = pd.read_csv('/content/BTCUSDT-1d-2022-03-02.csv')
print(data_11_fin)

Empty DataFrame
Columns: [1646179200000, 44421.20000000, 45400.00000000, 43334.09000000, 43892.98000000, 57782.65081000, 1646265599999, 2550792948.28862420, 1653131, 28624.11310000, 1264172354.04562620, 0]
Index: []

In [12]:
data_111_fin = pd.read_csv('/content/BTCUSDT-1d-2022-03-03.csv')
print(data_111_fin)

Empty DataFrame
Columns: [1646265600000, 43892.99000000, 44101.12000000, 41832.28000000, 42454.00000000, 50940.61021000, 1646351999999, 2192152097.92518790, 1289320, 24438.40113000, 1051969942.21123210, 0]
Index: []

In [25]:
data_1_fin_btcustd = pd.read_csv('/content/data_btcusdt_final.csv')
print(data_1_fin_btcustd)

      Open_time      Open      High     Close    Volume   Close_time  \
0  1.646090e+12  43160.00  44949.00  42809.98  44421.20  61743.09873
1  1.646180e+12  44421.20  45400.00  43334.09  43892.98  57782.65081
2  1.646270e+12  43892.99  44101.12  41832.28  42454.00  50940.61021

    Quote_asset_volume   Number_of_trades   Taker_buy_base_asset_volume  \
0         1.646180e+12         2701611024                       1866871
1         1.646270e+12         2550792948                       1653131
2         1.646350e+12         2192152098                       1289320

    Taker_buy_quote_asset_volume      ignore
0                    30937.54085  1353520463
1                    28624.11310  1264172354
2                    24438.40113  1051969942

In [194]:
new_bid = np.nan
new_ask = np.nan
tick_size = 0.1
running_qty = 0
running_qty_val = []
equity = []
static_equity = 1000
order_qty = 100
equity = []
fee = 0
high = 3
low = 3
close = 3
half_spread = 0.5
max_position = 2
trades = data_1_fin_btcustd[' Number_of_trades']
volume = data_1_fin_btcustd[' Volume']
close_time = data_1_fin_btcustd[' Close_time']
A = np.max(trades/volume)
B = np.max(trades/close_time)
imbalance = 0.00001
new_bid_val = []
new_ask_val = []

In [195]:
close_val = data_1_fin_btcustd[' Close']
high_val = data_1_fin_btcustd[' High']

In [196]:
print(data_1_fin_btcustd.columns)

Index(['Open_time', ' Open', ' High', ' Close', ' Volume', ' Close_time',
       ' Quote_asset_volume', ' Number_of_trades',
       ' Taker_buy_base_asset_volume', ' Taker_buy_quote_asset_volume',
       ' ignore'],
      dtype='object')

In [197]:
for row in close_val:
  if new_bid > row:
    running_qty += order_qty
    static_equity += order_qty / new_bid
    fee += order_qty / new_bid * -0.00025
for row in high_val:
  if new_ask < row:
    running_qty -= order_qty
    static_equity -= order_qty / new_ask
    fee += order_qty / new_ask * -0.00025    
        # equity.append(static_equity - running_qty / row[close] - fee)
equity.append(static_equity * row - running_qty - fee * row)
running_qty_val.append(running_qty)
x = running_qty + equity[-1]
skew = B * x / max_position * -1
for row in close_val:
  quote_mid_price = row + A * row*imbalance + skew
  new_bid = np.minimum(np.round(quote_mid_price * (1 - half_spread) / tick_size) * tick_size, row - tick_size)
  new_ask = np.maximum(np.round(quote_mid_price * (1 + half_spread) / tick_size) * tick_size, row + tick_size)
  new_bid_val.append(new_bid)
  new_ask_val.append(new_ask)

In [198]:
print(static_equity)

1000

In [199]:
print(running_qty_val)

[0]

In [201]:
print(new_ask_val)

[42810.08, 43334.189999999995, 41832.38]

In [202]:
new_bid_val = (data_1_fin_btcustd[' Number_of_trades']/np.abs(new_bid_val))+data_1_fin_btcustd[' Volume']
print(new_bid_val)

0    44421.205551
1    43892.985241
2    42454.004504
dtype: float64

In [207]:
data_1_fin_btcustd['new_bid_val'] = new_bid_val
data_1_fin_btcustd['new_ask_val'] = new_ask_val
data_1_fin_btcustd.drop(['ne_ask_val'],axis=1)

,Open_time,Open,High,Close,Volume,Close_time,Quote_asset_volume,Number_of_trades,Taker_buy_base_asset_volume,Taker_buy_quote_asset_volume,ignore,new_bid_val,new_ask_val
0,1.646090e+12,43160.00,44949.00,42809.98,44421.20,61743.09873,1.646180e+12,2701611024,1866871,30937.54085,1353520463,44421.205551,42810.08
1,1.646180e+12,44421.20,45400.00,43334.09,43892.98,57782.65081,1.646270e+12,2550792948,1653131,28624.11310,1264172354,43892.985241,43334.19
2,1.646270e+12,43892.99,44101.12,41832.28,42454.00,50940.61021,1.646350e+12,2192152098,1289320,24438.40113,1051969942,42454.004504,41832.38

In [212]:
data_1_fin_btcustd['gross_p_n_l'] = ((data_1_fin_btcustd['new_bid_val']-data_1_fin_btcustd['new_ask_val'])/data_1_fin_btcustd[' Volume'])*10000
data_1_fin_btcustd['average_win_p_n_l'] = np.average(data_1_fin_btcustd['gross_p_n_l'])
data_1_fin_btcustd.drop(['ne_ask_val'],axis=1)

,Open_time,Open,High,Close,Volume,Close_time,Quote_asset_volume,Number_of_trades,Taker_buy_base_asset_volume,Taker_buy_quote_asset_volume,ignore,new_bid_val,new_ask_val,gross_p_n_l,average_win_p_n_l
0,1.646090e+12,43160.00,44949.00,42809.98,44421.20,61743.09873,1.646180e+12,2701611024,1866871,30937.54085,1353520463,44421.205551,42810.08,362.692937,212.141525
1,1.646180e+12,44421.20,45400.00,43334.09,43892.98,57782.65081,1.646270e+12,2550792948,1653131,28624.11310,1264172354,43892.985241,43334.19,127.308568,212.141525
2,1.646270e+12,43892.99,44101.12,41832.28,42454.00,50940.61021,1.646350e+12,2192152098,1289320,24438.40113,1051969942,42454.004504,41832.38,146.423071,212.141525

In [216]:
data_exec_result = pd.DataFrame(columns = ['number_of_trades','gross_p_n_l','average_p_n_l'])
data_exec_result['number_of_trades'] = data_1_fin_btcustd[' Number_of_trades']
data_exec_result['gross_p_n_l'] = data_1_fin_btcustd['gross_p_n_l']
data_exec_result['average_p_n_l'] = data_1_fin_btcustd['average_win_p_n_l']
print(data_exec_result)

   number_of_trades  gross_p_n_l  average_p_n_l
0        2701611024   362.692937     212.141525
1        2550792948   127.308568     212.141525
2        2192152098   146.423071     212.141525